/*
CSS Rules
selector{
	property:value
}
*/

/*Universal Selector*/
* {
	/*monospace acts like an alternate font for Courier New*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

body{
	background-color: skyblue;
}

/*Navigation bar*/
nav{
	background-color: white;
}

html{
	scroll-behavior: smooth;
}

/*selector:hover pseudo class*/
/*changes color when hovered over*/
a:hover{
	background-color: #b4d6de;
}

div{
	display: inline-block;
	float: right;
}

h1{
	color: orange !important;
	/*The !important property has the highest priority*/
	text-align: center;
	font-size: 2rem;
}

/*landing section*/
section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

/*id selector*/
/*#id-name*/

#zuitt-moto{
	letter-spacing: 5px;
	/* the letter-spacing property changes the spaces in between characters of a text */
}
h3{
	letter-spacing: 25px;
}

/*Adjacent sibling selector*/
/*selector + selectot*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*The selectors used for combinator selectors aren't limited/restricted to type selectors only. Id, Class, attribute and universal selectors may also be used.*/
/*The height, changes the vertical dimensions of the element*/
/*The width, changes the horiontal dimensions of the element*/
/*The border-radius, changes the corners of the element from sharp to rounded corners.*/

ol{
	list-style-type: none;
}
/*class selector*/
/*.class-name*/

.offering-item{
	text-transform: uppercase;
	/* the text-transform property changes font to a particular case*/
}
/*Descendant selector*/
/*selector selector*/

#bootcamp-learning-list li{
	color: #070966;
}
/*The color property and similar properties that change color can also accept hex values. Hexadecimal values is consist of (#) sign in combination with 6 alphanumeric characters*/
/*General Sibling selector*/

h2 ~a{
	text-decoration: none;
}

/*The text decoration is a property that changes lines included in text{e.g. overline, unlining and strike through}*/
/*The value none will remove the underline from links*/

/*Child selector*/
/*selector > selector*/
body > section > form > label{
	color: rgb(237,17,35);
}
/*The child selector may include more than two selectors, and the last tag element */

/*Attribute selector*/
/*tagname[attribute]*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	background-color: #ffff00;
	width: 90%;
}

/*registered section*/

form{
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid black;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}