* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav {
	
	display: inline;
	list-style-type: none;
/*	padding: 2 rem 10% 3 rem 10%;*/
	
}

nav {
	background-color: white;
	position: sticky;
	top: 0px;
}

.nav-logo {
	list-style-type: none;
	display: inline;
	background-color: white;
	/*position: sticky;
	top: 0px;*/
}

.right-nav {
	display: inline;
	float: right;
	margin-right: 50px;
	background-color: white;
	/*position: sticky;
	top: 0px;*/
}

nav > ul > div > li {
	padding: 10px;
}

.tuitt-button {
	width: 120px;
	height: 40px;
	background-color: rgb(177, 46, 90);
	color: white;
	border-radius: 115px;
	border: none;
}

/* Here starts the code for bg image and its contents */

#bg-image {
	min-height: 53vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	float: right;
	background-size: 100%;
	background-position: center;
}

.container {
	height: 53vh;
	float: right;
	background-color: rgb(0, 0, 0, 0.5);
}

.title {
	color: white;
	font-size: 2.4rem;
	font-family: zilla slab;
	text-align: right;

	float: right;
	width: 40%;
	margin-right: 100px;
}

.subtitle {
	padding: 20px;
	font-size: 1.2rem;
	text-align: right;
	color: white;

	width: 30%;
	float: right;
	margin-right: 100px;
	margin-left: 50%;
}

.apply-button {
	width: 120px;
	height: 40px;
	background-color: rgb(177, 46, 90);
	color: white;
	border-radius: 115px;
	border: none;
	margin-left: 50%;
	margin-right: 100px;

	float: right;
	display: inline-block;
}


/* Here ends the code for the background image and its contents */

.intro {
	padding: 3rem 15% 3rem 15%;
}

.title-2 {
	padding: 20px;
	font-family: zilla slab;
	text-align: center;
}

/* Code for prefooter and footer starts here */

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	height: 250px;
	padding: 2rem 10% 3rem 10%;
	margin-top: 80px;
	background-color: ;
	
}

.prefooter-description {
	text-align: center;
	padding: 20px;

}

.book-button {
	width: 120px;
	height: 40px;
	background-color: #336589;
	color: white;
	border-radius: 115px;
	border: none;
}

body > footer {
	text-align: center;
	padding: 30px;
}