* {
	/*monospace acts like an alternate font for Courier New*/
	font-family: "Arial", monospace;
	font-size: 15px;
}

p{
	color: yellow;
}

h1{
	font-size: 2rem;
}

#uppercase_1{
	text-transform: uppercase;
}

.language{
	background-color: lightgreen;
}

li[abc]{
	border-color: blue;
	border-style: solid;
}

#image-js{
	height: 75px;
	width: 75px;
	border-radius: 150px;
}

h3 + img + ol{
	list-style-type: none;
}

#sibling{
	color: black;
	text-align: center;
}

body > section > ol > li{
	letter-spacing: 8px;
}